body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #E3D4E3;
    border-top: 15px solid #242424;
    margin: 0 auto;
}

p {
    line-height: 1.5em;
}

header {
    text-align: center;
}

nav {
    background: #E3D4E3;
    padding: 7px;
    position: sticky;
    top: 0px;
}

.navigation {
    list-style: none;
    font-size: 18px;
    display: flex;
}

.navigation li {
    flex: 1;
    text-align: center;
}

h2{
    text-align: center;
}

#blog {
    margin: 15px 60px 0 60px;
    border-top: 1px solid #242424;
}

.blog-post1{
    margin: 25px 0 0 0;
}

.blog-text1 {
    display: flex;
    gap: 30px;
}

table{
    border-spacing: 40px 3px;
    float: left;
}

.caption-for-table{
    font-style: italic;
}

.blog-post2{
    margin: 100px 0 0 0;
}

.blog-text2 {
    display: flex;
    gap: 30px;
}

.signup-form{
    margin: 30px 60px 30px 60px;
    border-top: 1px solid #242424;
}

#about-myself{
    margin: 15px 60px 0 60px;
    border-top: 1px solid #242424;
}

.profile-picture{
    margin: 15px 60px 0 60px;
}

#contact-information{
    margin: 15px 60px 0 60px;
    border-top: 1px solid #242424;
}

.favorite-things{

}