body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #E3D4E3;
    border-top: 15px solid #242424;
    margin: 0 auto;
}

p {
    line-height: 1.5em;
}

header {
    text-align: center;
}

nav {
    background: #E3D4E3;
    padding: 7px;
    position: sticky;
    top: 0px;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
}

ul li {
    flex: 1;
    text-align: center;
}


#blog {
    margin: 15px 60px 0 60px;
    border-top: 1px solid #242424;
}


.blog-post1 {
    
}


.blog-post2 {
    
}