body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 40px 40px 40px;
    padding: 40px;
    background: #E3D4E3;
    border-top: 15px solid #242424;
}


nav {
    margin: 0;
    background: #E3D4E3;
    position: sticky;
    top: 0px;
    border-bottom: 1px dotted #242424;
}

#blog {

}


.blog-post1 {

}


.blog-post2 {
    
}